<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bens Express Plus Handlebars</title>
</head>
<body>
    <h1>{{welcome}}</h1>
    {{> header}}
    {{> footer}}
</body>    
</html>    
    
    